/* All Responsive
================================================== */
@media only screen and (max-width: 959px) { 

	body {
	    padding: 0 80px;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	}
	/*.flex-direction-nav { display: none }*/
	.flex-caption { display: none }

	
	.footer-box {
	    margin-bottom: 0px;
	    width: 100%;
	    margin-right: 0;
	}
	.comment-avatar {
	    float: none;
	    margin-bottom: 15px;
	}
	.comment-content { margin-left: 0 }
	#commentsbox [class*="depth-"] .comment-details { margin-left: 0 }
	
}
/* Smaller then tablet portrait
================================================== */
@media only screen and (max-width: 767px) { 

	#menu-toggle{
		display: inline-block;
		float:right;
		margin-top: 20px;
		right:0px;
	}

	#site-navigation{
		display: none;
		margin-top: 5px;
		top: 65px;
		right:0;
		position:absolute;
		width: 100%;
		background: #fff;
		z-index:999;
	}

	#site-navigation .dropdown-menu li {
		display: block;
		float: none;
		margin:0;
	}

	#site-navigation .dropdown-menu li > ul{
		display: none;
	}

	#masthead{
		max-height: 60px;
		position: relative;
	}

	.logo{
		max-width: 60px;
	}

	#page-header{
		margin:20px 0;
	}

}
/* Ipad Mini Portrait Edits
================================================== */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) { 
	.att-one-half, .att-one-third, .att-two-third, .att-three-fourth, .att-one-fourth, .att-one-fifth, .att-two-fifth, .att-three-fifth, .att-four-fifth, .att-one-sixth, .att-five-sixth {
	    float: none;
	    width: 100%;
	    margin-bottom: 20px; margin-right: 0
	}
	.att-pricing-table > div {
	    margin-bottom: 25px
	}
	.att-box, .att-box.left, .att-box.right {
	    float: none;
	    width: 100% !important
	}

}
/* Mobile (Portrait)
================================================== */
@media only screen and (max-width: 767px) { 
	body {
	    padding: 0 20px;
	}
	#post {
		width: 100%;
	}
	.sidebar-container {
		float: none;
		width: 100%;
		margin-left: 0;
	}
	#single-portfolio-media,
	#single-portfolio-info {
		width: 100%;
		margin: 0;
		padding: 0;
		float: none;
	}
	#single-portfolio-info {
		margin-top: 8%;
	}
	.commentlist .children {
		margin: 0;
	}
	.comment-author {
		display: none;
	}
	.comment-details {
		margin-left: 0;
	}
	.comment-meta .fn {
		font-size: 18px;
	}

	/*shortcodes*/
	.att-one-half, .att-one-third, .att-two-third, .att-three-fourth, .att-one-fourth, .att-one-fifth, .att-two-fifth, .att-three-fifth, .att-four-fifth, .att-one-sixth, .att-five-sixth {
	    float: none;
	    width: 100%;
	    margin-bottom: 20px; margin-right: 0
	}
	.att-pricing-table > div {
	    margin-bottom: 25px
	}
	.att-box, .att-box.left, .att-box.right {
	    float: none;
	    width: 100% !important
	}

}
/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	
}
